/************************************************************************************/
/* Variables */
/* Variables */
/************************************************************************************/
/* Mixins */
/* Mixins */
/************************************************************************************/
/************************************************************************************/
/* WBG EDITOR */
.yellow {
  color: #d0ab47;
}
.darkYellow {
  color: #8b6a12;
}
.green {
  color: #576f3d;
}
.black {
  color: #000;
}
.header1 {
  font-size: 1.7em;
  color: #8b6a12;
}
.header2 {
  font-size: 1.5em;
  color: #8b6a12;
}
.header3 {
  font-size: 1.3em;
  color: #8b6a12;
}
.floatClear {
  clear: both;
  display: block;
}
/* WBG EDITOR */
/************************************************************************************/
/* Mixins */
/************************************************************************************/body {
  background: #edebe8 !Important;
  color: #5E5D5D;
  font-size: 13px;
  font-family: Georgia, Serif;
}
a {
  font-size: 12px;
  color: #8B6A12 !important;
  text-decoration: underline;
}
ul,
ol {
  padding-left: 20px;
  margin-left: 0px;
}
li {
  list-style-image: url('images/building/li_img.gif');
}
table {
  border-collapse: collapse;
}
table.wbgTable,
table.wbg_Table {
  background: rgba(249, 237, 215, 0.4);
  border: 1px solid #8b6a12;
}
table tr.wbgFirstRow {
  background: rgba(249, 237, 215, 0.7);
}
table td,
table th {
  text-align: left;
  padding: 3px 5px;
  border: 1px solid #8b6a12;
}
table th,
table td.tableHeader {
  text-align: center;
  font-weight: bold;
  color: #576f3d;
}
table tr:first-child td,
table tr:first-child th {
  border-top: none;
}
table tr:last-child td {
  border-bottom: none;
}
table tr td:last-child,
table tr th:last-child {
  border-right: none;
}
table tr td:first-child,
table tr th:first-child {
  border-left: none;
}
table {
  font-size: 12px;
}
