.sitetree * 		{font-size:11px; font-family:Tahoma; white-space:nowrap}
.sitetree img 		{vertical-align:middle;}
.sitetree .cat 		{cursor:pointer}
.sitetree .over 	{background:#ffffff}
.sitetree .selected	{background:#e1e1e1}

.context-menu *, .context-submenu * {font-size:11px; font-family:Tahoma}
.context-submenu {
	display:block;
	position:absolute;
	border:1px outset #FFFFFF;
	background-color:#dddddd;
	padding:2px 0px
}
.context-menu {
	display:block;
	position:absolute;
	border:1px outset #FFFFFF;
	background-color:#efefef;
	padding:2px 0px
}
.context-menu a, .context-submenu a {
	display:block;
	padding:1px 8px;
	text-decoration:none;
	color:#000000
}
.context-menu div, .context-submenu div {
	display:block;
	padding:2px 8px;
	text-decoration:none;
	color:#AAAAAA
}